/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /*****General Styles*****/

   html {
    font-size: 16px;
   }

   body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2b2b2b; 
   }

   header,
   footer {
    display: flex;
    justify-content: center;
    align-items: center;
   }

   header {
    background-color: #efeeee;
   }

   h1,
   h2 {
    font-family: 'Lora', sans-serif;
   }

   h3,
   h4 {
    font-family: 'Source Sans Pro', sans-serif;
   }
   
   .hero-area h2 span {
       color: #2b2b2b;
   }

   #work {
    background-color: #f9ceb7;
   }

   
   ul,
   ol {
    list-style-type: none;
   }

   a {
    color: #828282;
    text-decoration: none;
   }
   
   .work-content h2 {
    display: none;
   }

   footer  {
    background-color: #ebebeb;
   }

   .content-wrapper {
    width: 90%;
    margin: 50px 0;
  }
   
   img {
    max-width: 100%
   }

   /* ------------------Mobile Styles --------------------*/

   body {
    font-size: 1em;
   }

   header .content-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
   }

   header h1 {
    color: #BBC085;
    font-family: 'Lora', serif;
    font-size: 1.875em;
    margin: 0;
    padding: 20px 0;
   }

   header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   }

   header nav ul  {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 0;
   }

   header nav ul li {
    display: flex;
    justify-content: space-around;
   }

  nav ul li a {
     display: flex;
     text-transform: capitalize;
     text-decoration: none;
     font-size: 1em;
     color: #828282;
     list-style: none;  
   }

  .hero-area {
    display: flex;
    justify-content: center;
    background-image:  url('../img/hero.jpg');
    background-size: cover;
    background-position: 75%;
   }

  .hero-area .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-area h2 {
    color: #9b9b9b;
    font-family: 'Lora', sans-serif;
    font-size: 2.25em;
    line-height: 1.2;
    width: 100%;
    padding-bottom: 200px;
    margin: 0;
  }

   /*****ABOUT*****/


   #about .content-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
   }

   #about .about-content {
    width: 90%;
   }

   #about h2 {
    width: 100%;
    margin: 0;
   }

   #about p {
    width: 100%; 
    margin-bottom: 10px;
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    color: #7f7f7f;
    line-height: 1.6;
   }
   
   /*****WORK*****/

   #work .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;        /* eliminate bottom gap */
    padding: 50px 0;  /* to replace margin */
    width: 100%;
   }

   #work .work-content {
    padding: 50px 0;
    width: 90%
   }

  article h3 {
    width: 50%;
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.25em;
  }

  #work i{
    font-size: 3.75em;
    color: #c49075;
    margin: 20px 0;
  }

  article {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column;
  }

  p.skills {
    width: 100%;
    font-family: 'Lora', sans-serif;
    margin: 0;
    font-size: 1em;
    color: #282828;
    padding-bottom: 20px;
  }


   /*****CONTACT*****/
   #contact {
    text-align: center;
   }

   #contact img{
    border: 12px solid white;
    box-sizing: border-box;

   }

   #contact i {
    color: #c49075;
    font-size: 1.5em;
   }

   .cta h3 {
    font-weight: 200;
    margin: 0;
   }
   
   #contact h2{
    margin-bottom: 0;
  }

   .email h2 {
    color: #c49075;
    font-size: 1.0625em;
    margin: 0;
    width: 68%;
    padding-right: 35px;
  
   }

   .email {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    padding-bottom: 30px;
   }

   #contact p.fontawesome-icon {
    margin: 0;
   }

   .social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
   }

   .social h3 {
    margin: 0;
   }

   .social .fontawesome-icon {
    display: flex;
    justify-content: space-between;
    width: 70%;
   }


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 768px) { 

  /*==========Tablet Styles =================*/

  .content-wrapper {
    width: 85%;
    margin: 50px 0;
  }

  /* Header */

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  header h1 {
    font-size: 1.750em;
    padding-right: 50px;
  }

  header nav li {
    padding: 0 18px;
    font-size: .875em;
  }

  /* Hero Area */

  .hero-area .content-wrapper {
    margin: 0;
    justify-content: flex-start;
    background-size: cover;
    min-height: 600px;
  }



  .hero-area h2 {
    font-size: 3em;
    width: 85%;
    line-height: 1.3;
    padding-top: 25px;
  }

  /* About */

  #about {
    display: flex;
    justify-content: center;
    align-content:  center;
  }

  #about .about-content {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 90%;
  }

  #about h2 {
    width: 100%;
    font-size: 1.813em;
    padding: 50px 0 0 0;
  }
  
  #about p {
    width: 46%;
    font-size: 1em;
    line-height: 2;
    margin: 0;
    padding: 40px 0;
  }

  /* Work */

  #work {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #work .work-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  article {
    padding: 0;
    width: 33.3%;
  }

  article h3 {
    width: 69%;
    font-size: 1.17em;
  }

  #work i {
    margin: 0;
    font-size: 4em;
  }

  article#design {
    padding-bottom: 40px;
  }

  p.skills  {
    width: 85%;
    line-height: 1.5;
    font-size: .875em;
  }

  /* Contact */

  footer .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }

  #contact .contact-content {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  footer #contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }

  #contact .contact-img {
    max-width: 100%;
    width: 48%;
  }

} 

@media only screen and (min-width: 1200px) {

/************** Desktop Styles **************/

  .content-wrapper {
    max-width: 960px; 
  }

/* Header */

  header h1 {
    font-size: 1.875em;
  }

  nav ul li a {
    font-size: 1.125em;
  }

/* Hero Area */

  .hero-area {
    background-position: center;
  }

  .hero-area h2 {
    font-size: 4.5em;
    line-height: 1;
    padding-bottom: 350px;
    margin: 50px 0;
  }

  /* About */

  #about h2 {
    font-size: 2.25em;
  }

  #about p {
    font-size: 1.3125em;
  }

  /*work */
  .work .content-wrapper {
    width: 100%;
  }
  .work .work-content {
    width: 85%
  }

  article {
    padding: 50px;
  }

  article h3 {
    font-size: 1.5em;
    width: 75%;
  }

  article#design {
    padding-bottom: 77px;
  }

  p.skills {
    font-size: 1.0625em;
    width: 100%;
    line-height: 1.8;
    padding: 0 85px;
  }

/* Contact */

  #contact {
    padding: 50px 0;
  }

  .cta {
    text-align: left;
    width: 44%;
  }

  .cta h2 {
    font-size: 2.25em;
  }

  .cta h3 {
    font-size: 2em;
  }

  .email h2 {
    font-size: 1.75em;
    width: 100%;
    padding-left: 20px;
  }

  .social {
    justify-content: left;
  }

  .social h3 {
    font-size: 1.8125em;
    font-weight: 700;
  }

  #contact i {
    font-size: 2em;
  }

  .social i {
    padding-right: 56px;
  }


}



@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

    
    









    
    




















